<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>[%level] [%date{ISO8601}] [%logger] [akkaSource=%X{akkaSource}][sourceThread=%X{sourceThread}] [mdc=ticket-#%X{ticketNumber}: %X{ticketDesc}] %msg%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="slick.compiler" level="WARN" />
        <Logger name="slick.relational" level="WARN" />
        <Logger name="slick.jdbc.JdbcBackend" level="WARN" />

        <Logger name="com.zaxxer.hikari" level="WARN" />
        <Logger name="org.flywaydb.core.internal" level="WARN" />

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>